* {
  box-sizing: border-box;
}

body {
    background-image: url('./images/ingredients-backdrop.jpg');
    /* padding: 10% */
}

article {
    background-color: bisque;
    border: 2px solid rgb(139, 134, 134);
    border-style: groove ;
    max-width: 700px;
    height: 1000px;
    margin: 100px auto;
}

.banner {
    width: 50%;
}

p {
    /* border: 2px solid green; */
    padding: 10px 10%;
}

.a .list {
    width: 200px;
    text-align: left;
    /* border: 2px solid green; */
    margin-right: 200px;
}

.a .ingredients {
    /* border: 2px solid red; */
    text-align: left;
}

.a {
    /* border: 2px solid red; */
    text-align: center;
}

.click {
    color: black;
}

.caption {
    /* border: 2px solid salmon; */
    max-width: 400px ;
}

.caption img {
    width: 100%;
    height: auto;
}

.caption figcaption {
    text-align: left;      
    font-style: italic;  
}